{% extends 'base.html.twig' %}

{% block title %}
	Contact Form
{% endblock %}

{% block body %}

	<h1>Contact Us</h1>
	{{ form_start(form) }}
	{{ form_row(form.name) }}
	{{ form_row(form.email) }}
	{{ form_row(form.message) }}
	<button type="submit">
		Send
	</button>
	{{ form_end(form) }}
{% endblock %}
